
#---------------------------------------------------------------
# The cold start allows you to use synthetic tracers (5 of them)
#---------------------------------------------------------------
do_AdvColdStart: T

#-------------------------------------------------------------------------
# Do you want to compute the total mass of each tracer at every time step?
#-------------------------------------------------------------------------
do_ComputeTracerMass: T

#-----------------------
# Setting for cold start (not really necessary for it is part of the code
#-----------------------
vNames::
Q00
Q01
Q02
Q03
Q04
::

vunits::
mol/mol
mol/mol
mol/mol
mol/mol
mol/mol
::

# If you are not using a cold start run (you have your own restart file), 
# you will need to provide the tracer names and the tracer units 
# (as appearing in your restart file). For instance:
# 
#  vNames::
#   CH2O    
#   CH4     
#   CO      
#   H2 
#  ::
#
#  vunits::
#   mol/mol
#   mol/mol
#   mol/mol
#   mol/mol
#  ::
#
