### NUOPC Component Explorer configuration file ###

start_year:               2009
start_month:              12
start_day:                01
start_hour:               00
start_minute:             0
start_second:             0

stop_year:                2009
stop_month:               12
stop_day:                 03
stop_hour:                00
stop_minute:              0
stop_second:              0

step_seconds:             21600

filter_initialize_phases: no

enable_run:               yes
enable_finalize:          yes

enable_compliance_check:  no

enable_field_mirroring:   yes
