logKindFlag:            ESMF_LOGKIND_MULTI
globalResourceControl:  .true.

ESMX_log_flush:        .true.
#ESMX_field_dictionary: ./fd.yaml

ESMX_component_list:   ATM OCN
ESMX_attributes::
  Verbosity = high
::

ATM_model:            tawas
#ATM_omp_num_threads:  4
ATM_attributes::
  Verbosity = high
::

OCN_model:            lumo
OCN_petlist:          1 3
OCN_attributes::
  Verbosity = high
::

startTime:  2012-10-24T18:00:00
stopTime:   2012-10-24T19:00:00

runSeq::
  @900
    ATM -> OCN
    OCN -> ATM
    ATM
    OCN
  @
::
